{% extends "page.html.j2" %}

{% block container %}
<h1>Segments</h1>

<h2>New Segment</h2>

<p>To create a new segment, go to <a href="https://bikerouter.de/" target="_blank">Bike Router</a>, create the segment
    that you want and download it as GeoJSON. Then upload that file with the form below.</p>

<form method="post" enctype="multipart/form-data" action="{{ url_for('.new') }}">
    <div class="mb-3">
        <label for="name" class="form-label">Segment Name</label>
        <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
        <label for="file" class="form-label">GeoJSON Segment File</label>
        <input type="file" name="file" id="file" class="form-control" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}