{% extends "page.html.j2" %}

{% block container %}
<h1 class="mb-3">{{ _('Segment') }} {{ segment.name }}</h1>

<script>
    function add_map(id, geojson) {
        let map = L.map(id, {
            fullscreenControl: true
        })
        L.tileLayer('/tile/color/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '{{ map_tile_attribution|safe }}'
        }).addTo(map)

        return map
    }
</script>

<div id="map-segment" class="mb-3" style=" height: 500px; width: 100%;"></div>
<script>
    const activity_ids = {{ activity_ids }};
    fetch("/segments/line/{{ segment.id }}/line.geojson").then(response => response.json()).then(
        geojson => {
            const map = add_map("map-segment", geojson)


            let geojson_layer = L.geoJSON(geojson, {
                style: { color: "#ff0000", fillOpacity: 0.0 }
            })
            map.fitBounds(geojson_layer.getBounds())

            let promises = [];
            for (let id of activity_ids) {
                promises.push(fetch(`/activity/${id}/line.geojson`).then(response => response.json()).then(geojson => {
                    L.geoJSON(geojson, {
                        style: { color: "#0000ff", fillOpacity: 0.3 }
                    }).addTo(map)
                }))
            }

            Promise.all(promises).then(() => { geojson_layer.addTo(map) })
        }
    )
</script>

{% for name, plot in plots.items() %}
<h2 class="mb-3">{{ name }}</h2>
<div class="mb-3">
    {{ vega_direct(plot) }}
</div>
{% endfor %}

<h2 class="mb-3">{{ _('Matched activities') }}</h2>

<div class="table-responsive mb-3">
    <table class="table table-sort table-arrows">
        <thead>
            <tr>
                <th>{{ _('Date') }}</th>
                <th>{{ _('Activity') }}</th>
                <th>{{ _('Direction') }}</th>
                <th class="numeric-sort">{{ _('Distance / km') }}</th>
                <th>{{ _('Duration') }}</th>
                <th>{{ _('Equipment') }}</th>
                <th>{{ _('Kind') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <td>{{ row['entry_time']|dt }}</td>
                <td><a href="{{ url_for('activity.show', id=row['activity_id']) }}">{{ row['activity_name'] }}</a></td>
                <td>{{ row['direction'] }}</td>
                <td>{{ row['distance_km'] | round(2) }}</td>
                <td>{{ row['duration']|td }}</td>
                <td>{{ row["equipment_name"] }}</td>
                <td>{{ row["kind_name"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}