{% extends "page.html.j2" %}

{% block container %}

<h1 class="mb-3">Strava Connect</h1>

<div class="row mb-3">
    <div class="col">
        <p>You're now connected to Strava. Please restart the webserver to start loading actvities.</p>
    </div>
</div>


{% endblock %}