{% extends "page.html.j2" %}

{% block container %}

<h1 class="row mb-3">Activities Overview & Search</h1>

<div class="mb-3">
    {% include "search_form.html.j2" %}
</div>

<table class="table table-sort table-arrows">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th class="numeric-sort">Distance</th>
            <th>Elapsed time</th>
            <th>Speed / km/h</th>
            <th>Equipment</th>
            <th>Kind</th>
        </tr>
    </thead>
    <tbody>
        {% for index, activity in activities %}
        <tr>
            <td><a href="{{ url_for('activity.show', id=activity['id']) }}">{{ activity['name'] }}</a></td>
            <td>
                {% if activity['start'] is defined %}
                {{ activity['start']|dt }}
                {% endif %}
            </td>
            <td>{{ '%.1f' % activity["distance_km"] }} km</td>
            <td>{{ activity.elapsed_time|td }}</td>
            <td>
                {% if not activity.average_speed_moving_kmh|isna %}
                {{ activity.average_speed_moving_kmh|round(1) }}
                {% endif %}
            </td>
            <td>{{ activity["equipment"] }}</td>
            <td>{{ activity['kind'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}