{% extends "page.html.j2" %}

{% block container %}
<div class="row">
    <div class="col">
        <h1>Settings</h1>
    </div>
</div>

<p>Here are various settings that control how activities are gathered, analyzed and visualized.</p>

<div class="row mb-3">
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Admin password</h5>
                    <p class="card-text">Running a public instance and want to protect it?</p>
                    <a href="{{ url_for('.admin_password') }}" class="btn btn-primary">Set up admin password</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Color schemes</h5>
                    <p class="card-text">Don't like the colors in the plots?</p>
                    <a href="{{ url_for('.color_schemes') }}" class="btn btn-primary">Set up color schemes</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Equipment</h5>
                    <p class="card-text">Manage your equipments here.</p>
                    <a href="{{ url_for('.manage_equipments') }}" class="btn btn-primary">Manage equipments</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kinds</h5>
                    <p class="card-text">Manage your activity kinds here.</p>
                    <a href="{{ url_for('.manage_kinds') }}" class="btn btn-primary">Manage kinds</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Heart rate</h5>
                    <p class="card-text">Specify maximum heart rate to derive heart rate zones.</p>
                    <a href="{{ url_for('.heart_rate') }}" class="btn btn-primary">Set up heart rate</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Map tile source</h5>
                    <p class="card-text">Change the source of the map tiles.</p>
                    <a href="{{ url_for('.tile_source') }}" class="btn btn-primary">Change tile source</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Metadata extraction</h5>
                    <p class="card-text">When using activity files, one might want to extract metadata from the paths or
                        set defaults.</p>
                    <a href="{{ url_for('.metadata_extraction') }}" class="btn btn-primary">Set up metadata
                        extraction</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Privacy zones</h5>
                    <p class="card-text">Define geographic zones that shall be excluded from share pictures.</p>
                    <a href="{{ url_for('.privacy_zones') }}" class="btn btn-primary">Set up privacy zones</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Share picture</h5>
                    <p class="card-text">Select which metadata shall be displayed on share pictures.</p>
                    <a href="{{ url_for('.sharepic') }}" class="btn btn-primary">Set up share picture</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Strava API</h5>
                    <p class="card-text">Connect to the Strava API to download activities from there.</p>
                    <a href="{{ url_for('.strava') }}" class="btn btn-primary">Set up Strava API</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Track segmentation</h5>
                    <p class="card-text">Split tracks into multiple segments if there are breaks or jumps.</p>
                    <a href="{{ url_for('.segmentation') }}" class="btn btn-primary">Set up track segmentations</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tags</h5>
                    <p class="card-text">You can assign tags to activities. Create and manage them here.</p>
                    <a href="{{ url_for('.tags_list') }}" class="btn btn-primary">Manage tags</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}