{% extends "page.html.j2" %}

{% block container %}

<h1 class="mb-3">Equipments</h1>

<p>If you record every activity with an equipment but haven't started from the beginning, you might have a certain
    distance that is not accounted for. In order to have this reflected in the equipment overview, you can enter offsets
    here.</p>

<form method="POST">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        {% for equipment in equipments %}
        <div class="col-md-4">
            <input type="hidden" name="id" value="{{ equipment.id }}" />

            <div class="mb-3">
                <label for="name_{{ loop.index }}" class="form-label">Equipment</label>
                <input type="text" class="form-control" id="name_{{ loop.index }}" name="name"
                    value="{{ equipment.name }}" />
            </div>
            <div class="mb-3">
                <label for="offset_km_{{ loop.index }}" class="form-label">Offset / km</label>
                <input type="number" class="form-control" id="offset_km_{{ loop.index }}" name="offset_km"
                    value="{{ equipment.offset_km }}" />
            </div>
        </div>
        {% endfor %}

        <div class="col-md-4">
            <input type="hidden" name="id" value="" />
            <div class="mb-3">
                <label for="name_new" class="form-label">Equipment</label>
                <input type="text" class="form-control" id="name_new" name="name" />
            </div>
            <div class="mb-3">
                <label for="offset_km_new" class="form-label">Offset / km</label>
                <input type="number" class="form-control" id="offset_km_new" name="offset_km" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


{% endblock %}