{% extends "page.html.j2" %}

{% block container %}

<h1 class="mb-3">Strava Connect</h1>

<div class="row mb-3">
    <div class="col-md-6">
        <p>You can connect to Strava such that it automatically downloads your activities.</p>

        <p>The Strava API has rather strict rate limiting. If you don't mind waiting a bit, you can just use the "client
            ID" and "client secret" that are provided to use a pre-defined Strava app. In that case, just click on the
            button. If you don't want to share the API limits with other people, go the <a
                href="https://www.strava.com/settings/api">Strava API page</a> and create your own app. Then fill in
            "client ID" and "client secret" in the form.</p>

        <p>For more information about how to use this feature see <a href="https://martin-ueding.github.io/geo-activity-playground/connect-strava-api/" target="_blank">this page in the documentation</a> For initial import of activities consider <a href="https://martin-ueding.github.io/geo-activity-playground/moving-from-strava/" target="_blank">importing a Strava Archive</a>.</p>

        <p>
            Status:
            {% if strava_client_code %}
            <span class="badge text-bg-success">Connected</span>
            {% else %}
            <span class="badge text-bg-secondary">Not connected</span>
            {% endif %}
        </p>
    </div>

    <div class="col-md-6">
        <form action="" method="POST">
            <div class="mb-3">
                <label for="strava_client_id" class="form-label">Client ID</label>
                <input type="text" class="form-control" id="strava_client_id" name="strava_client_id"
                    value="{{ strava_client_id }}" />
            </div>
            <div class="mb-3">
                <label for="strava_client_secret" class="form-label">Client Secret</label>
                <input type="text" class="form-control" id="strava_client_secret" name="strava_client_secret"
                    value="{{ strava_client_secret }}" />
            </div>

            <button type="submit" class="btn btn-primary">Connect to Strava</button>
        </form>
    </div>
</div>


{% endblock %}