{% extends "page.html.j2" %}

{% block container %}

<h1 class="mb-3">Edit Tag</h1>

<form method="POST">
    <div class="mb-3">
        <label for="tag" class="form-label">Tag</label>
        <input type="text" class="form-control" id="tag" name="tag" value="{{ tag.tag }}" />
    </div>

    <div class="mb-3">
        <label for="color" class="form-label">Color</label>
        <input type="color" class="form-control" id="color" name="color" value="{{ tag.color or '#0d6efd' }}" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


{% endblock %}