{% extends "page.html.j2" %}

{% block container %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('.index') }}">Plot Builder</a></li>
        <li class="breadcrumb-item active" aria-current="page">Import</li>
    </ol>
</nav>

<h1 class="mb-3">Import Custom Plot</h1>

<form method="post">
    <div class="mb-3">
        <label for="spec_json" class="form-label">Plot specification JSON</label>
        <textarea class="form-control" id="spec_json" rows="3" name="spec_json"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Import & Preview</button>
</form>


{% endblock %}