{% extends "page.html.j2" %}

{% block container %}


<h1 class="row mb-3">Plot Builder</h1>

<p>Build custom plots here. For inspiration, check out <a href="https://martin-ueding.github.io/geo-activity-playground/build-custom-plots/" target="_blank">the documentation</a>.</p>

{% if specs %}
<table class="table mb-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for spec in specs %}
        <tr>
            <td>{{ spec.name }}</td>
            <td>
                <a class="btn btn-small btn-primary" href="{{ url_for('.edit', id=spec.id) }}">Edit</a>
                <a class="btn btn-small btn-danger" href="{{ url_for('.delete', id=spec.id) }}"
                    onclick="if(!confirm('Are you sure to Delete This?')){ event.preventDefault() }">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<a class="btn btn-primary" href="{{ url_for('.new') }}">New</a>

<a class="btn btn-primary" href="{{ url_for('.import_spec') }}">Import</a>

{% endblock %}