{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>Heatmap</h1>
    </div>
</div>

<form action="" method="GET">

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Kinds</label>

        <div class="col-sm-10">
            {% for kind in available_kinds %}
            <div class="form-check form-check-inline form-switch ">
                <input class="form-check-input" type="checkbox" role="switch" id="kind{{ loop.index0 }}" name="kind"
                    value="{{ loop.index0 }}" {{ 'checked' if loop.index0 in kinds else '' }} />
                <label class="form-check-label" for="kind{{ loop.index0 }}">{{ kind }}</label>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Date range</label>
        <div class="col-sm-5">
            <input type="date" id="date-start" name="date-start" value="{{ date_start }}" />
            <label for="date-start" class="form-label">Start date</label>
        </div>
        <div class="col-sm-5">
            <input type="date" id="date-end" name="date-end" value="{{ date_end }}" />
            <label for="date-start" class="form-label">End date</label>
        </div>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Filter heatmap</button>
    </div>
</form>

<div class="row mb-3">
    <div class="col">
        <div id="heatmap" style="height: 800px;"></div>
        <p><a href="#" onclick="downloadAs()">Download heatmap in visible area</a></p>

        <script>
            let map = L.map('heatmap', {
                fullscreenControl: true,
                center: [{{ center.latitude }}, {{ center.longitude }}],
            zoom: 12
            });
            L.tileLayer('/heatmap/tile/{z}/{x}/{y}.png?{{ extra_args|safe }}', {
                maxZoom: 19,
                attribution: '{{ map_tile_attribution|safe }}'
            }).addTo(map)

            let bbox = {{ center.bbox| safe }}
            if (bbox) {
                map.fitBounds(L.geoJSON(bbox).getBounds())
            }


            function downloadAs() {
                bounds = map.getBounds()
                window.location.href =
                    `/heatmap/download/${bounds.getNorth()}/${bounds.getEast()}/${bounds.getSouth()}/${bounds.getWest()}/heatmap.png?{{ extra_args|safe }}`
            }
        </script>
    </div>
</div>

{% endblock %}