{% extends "page.html.j2" %}

{% block container %}

<h1 class="mb-3">Admin Password</h1>

<p>To protect the settings and the upload functionality, you may specify a password.</p>

<form method="POST">
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password" value="{{ password }}" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


{% endblock %}