{% extends "page.html.j2" %}

{% block container %}

<h1 class="mb-3">Metadata Extraction</h1>

<p>There are a few metadata fields that can be populated with information from the path of the activity file or by a
    default value. These are:</p>

<ul>
    <li><tt>kind</tt>: The kind of the activity, like "Ride" or "Run".</li>
    <li><tt>equipment</tt>: Name for the equipment used, like "Red Roadbike".</li>
    <li><tt>name</tt>: Name for the activity, like "Ride with Friends".</li>
</ul>

<p>By default these fields are populated with information from within the activity files. In case one hasn't set these
    values correctly, it can be nice to override this data.</p>

<form method="POST">
    <div class="row">
        <div class="col-md-6">
            {% for regex in metadata_extraction_regexes %}
            <div class="mb-3">
                <label for="regex_{{ loop.index }}" class="form-label">Regular expression</label>
                <input type="text" class="form-control" id="regex_{{ loop.index }}" name="regex" value="{{ regex }}" />
            </div>
            {% endfor %}
            <div class="mb-3">
                <label for="regex_new" class="form-label">Regular expression</label>
                <input type="text" class="form-control" id="regex_new" name="regex" />
            </div>
        </div>

        <div class="col-md-6">
            <p>To give an example of what is possible, consider a directory structure where we have
                <tt>{kind}/{equipment}/{date} {name}.{ext}</tt>. Such an activity could be <tt>Ride/Red
                    Roadbike/2024-08-10 11-45-00 Ride with Friends.fit</tt>. In order to extract this, we could use the
                following regular expression:
            </p>

            <div class="code">
                <pre
                    class="code literal-block">(?P&lt;kind&gt;[^/]+)/(?P&lt;equipment&gt;[^/]+)/[-\d_ .]+(?P&lt;name&gt;[^/\.]+)</pre>
            </div>

            <p>This uses "capture groups". Have a look at the <a href="https://docs.python.org/3/library/re.html">Python
                    regex documentation</a> if you want to build your own.</p>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


{% endblock %}