default_stages:
  - pre-commit
fail_fast: true
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: github-issues-in-changelog
        name: Auto-Link GitHub Issues in Changelog
        entry: sed -i -E 's# GH-([0-9]+)# ([GH-\1](https://github.com/martin-ueding/geo-activity-playground/issues/\1))#g' docs/changelog.md
        language: system
        pass_filenames: false