[tool.poetry]
name = "geo-activity-playground"
version = "0.15.0"
description = "Analysis of geo data activities like rides, runs or hikes."
authors = ["Martin Ueding <mu@martin-ueding.de>"]
license = "MIT"

[tool.poetry.scripts]
geo-activity-playground = "geo_activity_playground.__main__:main"

[tool.poetry.dependencies]
python = "^3.9,<3.12"

altair = "^5.1.2"
appdirs = "^1.4.4"
coloredlogs = "^15.0.1"
fitdecode = "^0.10.0"
flask = "^3.0.0"
geojson = "^3.0.1"
gpxpy = "^1.5.0"
jinja2 = "^3.1.2"
matplotlib = "^3.6.3"
numpy = "^1.22.4"
pandas = "^2.0"
Pillow = "^9.2.0"
pyarrow = "^12.0.1"
python-dateutil = "^2.8.2"
requests = "^2.28.1"
scikit-learn = "^1.3.2"
scipy = "^1.8.1"
stravalib = "^1.3.3"
tcxreader = "^0.4.5"
tomli = { version = "^2.0.1", python = "<3.11" }
tqdm = "^4.64.0"
vegafusion = "^1.4.3"
vegafusion-python-embed = "^1.4.3"
vl-convert-python = "^1.0.1"
xmltodict = "^0.13.0"

[tool.poetry.group.dev.dependencies]
black = "^22.3.0"
mkdocs-material = "^9.4.1"
mypy = "^0.961"
pytest = "^7.1.2"
py-spy = "^0.3.14"
ipykernel = "^6.27.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
