{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>Square Planner</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-3">
        <table class="mb-3">
            <tr>
                <td>
                    <a class="btn btn-primary"
                        href="/square-planner/{{ zoom }}/{{ square_x-1 }}/{{ square_y-1 }}/{{ square_size+1 }}">↖&#xFE0E;</a>
                    <a class="btn btn-primary"
                        href="/square-planner/{{ zoom }}/{{ square_x+1 }}/{{ square_y+1 }}/{{ square_size-1 }}">↘&#xFE0E;</a>
                </td>
                <td></td>
                <td>
                    <a class="btn btn-primary"
                        href="/square-planner/{{ zoom }}/{{ square_x }}/{{ square_y+1 }}/{{ square_size-1 }}">↙&#xFE0E;</a>
                    <a class="btn btn-primary"
                        href="/square-planner/{{ zoom }}/{{ square_x }}/{{ square_y-1 }}/{{ square_size+1 }}">↗&#xFE0E;</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <a class="btn btn-primary"
                                    href="/square-planner/{{ zoom }}/{{ square_x-1 }}/{{ square_y-1 }}/{{ square_size }}">↖&#xFE0E;</a>
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                    href="/square-planner/{{ zoom }}/{{ square_x }}/{{ square_y-1 }}/{{ square_size }}">↑</a>
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                    href="/square-planner/{{ zoom }}/{{ square_x+1 }}/{{ square_y-1 }}/{{ square_size }}">↗&#xFE0E;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-primary"
                                    href="/square-planner/{{ zoom }}/{{ square_x-1 }}/{{ square_y }}/{{ square_size }}">←</a>
                            </td>
                            <td></td>
                            <td>
                                <a class="btn btn-primary"
                                    href="/square-planner/{{ zoom }}/{{ square_x+1 }}/{{ square_y }}/{{ square_size }}">→</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-primary"
                                    href="/square-planner/{{ zoom }}/{{ square_x-1 }}/{{ square_y+1 }}/{{ square_size }}">↙&#xFE0E;</a>
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                    href="/square-planner/{{ zoom }}/{{ square_x }}/{{ square_y+1 }}/{{ square_size }}">↓</a>
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                    href="/square-planner/{{ zoom }}/{{ square_x+1 }}/{{ square_y+1 }}/{{ square_size }}">↘&#xFE0E;</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary"
                        href="/square-planner/{{ zoom }}/{{ square_x-1 }}/{{ square_y }}/{{ square_size+1 }}">↙&#xFE0E;</a>
                    <a class="btn btn-primary"
                        href="/square-planner/{{ zoom }}/{{ square_x+1 }}/{{ square_y }}/{{ square_size-1 }}">↗&#xFE0E;</a>
                </td>
                <td></td>
                <td>
                    <a class="btn btn-primary"
                        href="/square-planner/{{ zoom }}/{{ square_x }}/{{ square_y }}/{{ square_size-1 }}">↖&#xFE0E;</a>
                    <a class="btn btn-primary"
                        href="/square-planner/{{ zoom }}/{{ square_x }}/{{ square_y }}/{{ square_size+1 }}">↘&#xFE0E;</a>
                </td>
            </tr>
        </table>

        <p>Download missing tiles as <a
                href="/square-planner/{{ zoom }}/{{ square_x }}/{{ square_y }}/{{ square_size }}/missing.geojson">GeoJSON</a>
            or <a href="/square-planner/{{ zoom }}/{{ square_x }}/{{ square_y }}/{{ square_size }}/missing.gpx">GPX</a>.
        </p>
    </div>
    <div class="col-md-9">
        <div id="explorer-map" class="mb-3" style="height: 600px;"></div>

        <script>
            let map = L.map('explorer-map', {
                fullscreenControl: true,
                center: [0.0, 0.0],
                zoom: 14
            })

            L.tileLayer('/tile/grayscale/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '{{ map_tile_attribution|safe }}'
            }).addTo(map)

            let explorer_geojson = {{ explored_geojson| safe }}
            let explorer_layer_cluster_color = L.geoJSON(explorer_geojson, {
                style: function (feature) {
                    return {
                        color: "#4daf4a", fillColor: "#4daf4a",
                        weight: 0.5
                    }
                }
            }).addTo(map)

            let missing_geojson = {{ missing_geojson| safe }}
            let missing_layer_cluster_color = L.geoJSON(missing_geojson, {
                style: function (feature) {
                    return {
                        color: "#e41a1c", fillColor: "#e41a1c",
                        weight: 0.5
                    }
                }
            }).addTo(map)

            let square_geojson = {{ square_geojson | safe }}
            let explorer_square_layer = L.geoJSON(square_geojson,
                {
                    style: function (feature) {
                        return {
                            color: "blue", fill: false, weight: 2
                        }
                    }
                }
            ).addTo(map)

            map.fitBounds(explorer_square_layer.getBounds())
        </script>
    </div>
</div>


<form class="row row-cols-lg-auto g-3 align-items-center bm-3 mb-3" method="POST"
    action="{{ url_for('.save_bookmark', zoom=zoom, x=square_x, y=square_y, size=square_size) }}">
    <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Name</label>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Name" name="name">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create bookmark</button>
    </div>
</form>


{% if bookmarks %}
<h2 class="mb-3">Bookmarks</h2>
<table class="table mb-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Zoom</th>
            <th>X</th>
            <th>Y</th>
            <th>Size</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for bookmark in bookmarks %}
        <tr>
            <td>{{ bookmark.name }}</td>
            <td>{{ bookmark.zoom }}</td>
            <td>{{ bookmark.x }}</td>
            <td>{{ bookmark.y }}</td>
            <td>{{ bookmark.size }}</td>
            <td>
                <a class="btn btn-small btn-primary"
                    href="{{ url_for('.index', zoom=bookmark.zoom, x=bookmark.x, y=bookmark.y, size=bookmark.size) }}">Open</a>
                <a class="btn btn-small btn-danger" href="{{ url_for('.delete_bookmark', id=bookmark.id) }}"
                    onclick="if(!confirm('Are you sure to Delete This?')){ event.preventDefault() }">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<hr />

<p class="mb-3">This feature was developed in memory of Natenom who unfortunately didn't live to enjoy it for more
    tile
    exploring.</p>

{% endblock %}