{% extends "page.html.j2" %}

{% block container %}

<h1 class="mb-3">Edit Activity</h1>

<form method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ activity.name }}" />
    </div>

    <div class="mb-3">
        <label for="kind" class="form-label">Kind</label>
        <select class="form-control" id="kind" name="kind">
            <option value="null" {% if activity.kind==None %} selected {% endif %}>None</option>
            {% for kind in kinds %}
            <option value="{{ kind.id }}" {% if activity.kind==kind %} selected {% endif %}>{{ kind.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="equipment" class="form-label">Equipment</label>
        <select class="form-control" id="equipment" name="equipment">
            <option value="null" {% if activity.equipment==None %} selected {% endif %}>None</option>
            {% for equipment in equipments %}
            <option value="{{ equipment.id }}" {% if activity.equipment==equipment %} selected {% endif %}>
                {{ equipment.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Tags</label>
        <div class="form-control">
            {% for tag in tags %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="tag" value="{{ tag.id }}" id="tag_{{ tag.id }}" {%
                    if tag in activity.tags %} checked {% endif %}>
                <label class="form-check-label" for="tag_{{ tag.id }}">
                    {{ tag.tag }}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}