{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>{{ activity["name"] }}</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-12 col-md-4">
        <dl>
            {% if activity.kind %}
            <dt>Kind</dt>
            <dd>{{ activity.kind.name }}</dd>
            {% endif %}

            {% if activity.equipment %}
            <dt>Equipment</dt>
            <dd>{{ activity.equipment.name }}</dd>
            {% endif %}

            {% if activity.tags %}
            <dt>Tags</dt>
            <dd>
                {% for tag in activity.tags %}
                {{ activity_tag(tag) }}
                {% endfor %}
            </dd>
            {% endif %}

            <dt>Distance</dt>
            <dd>{{ activity.distance_km|round(1) }} km</dd>

            {% if activity.elapsed_time %}
            <dt>Duration</dt>
            <dd>{{ activity.elapsed_time|td }} elapsed, {{ activity.moving_time|td }} moving</dd>

            <dt>Average moving speed</dt>
            <dd>{{ activity.average_speed_moving_kmh|round(1) }} km/h = {{
                (60/activity.average_speed_moving_kmh)|round(1) }} min/km</dd>
            <dt>Average elapsed speed</dt>
            <dd>{{ activity.average_speed_elapsed_kmh|round(1) }} km/h = {{
                (60/activity.average_speed_elapsed_kmh)|round(1) }} min/km</dd>
            {% endif %}
            {% if date is defined %}
            <dt>Start time</dt>
            <dd><a href="{{ url_for('activity.day', year=date.year, month=date.month, day=date.day) }}">{{ date }}</a>
                {{ time }} {{ activity.iana_timezone }}
            </dd>
            {% endif %}

            {% if activity.calories %}
            <dt>Calories</dt>
            <dd>{{ activity.calories }}</dd>
            {% endif %}

            {% if activity.steps %}
            <dt>Steps</dt>
            <dd>{{ activity.steps }}</dd>
            {% endif %}

            {% if activity.elevation_gain %}
            <dt>Elevation gain</dt>
            <dd>{{ activity.elevation_gain|round(0)|int }} m</dd>
            {% endif %}

            {% if new_tiles[14] %}
            <dt>New Explorer Tiles</dt>
            <dd>{{ new_tiles[14] }}</dd>
            {% endif %}

            {% if new_tiles[17] %}
            <dt>New Squadratinhos</dt>
            <dd>{{ new_tiles[17] }}</dd>
            {% endif %}

            <dt>ID</dt>
            <dd>{{ activity.id }}</dd>
            <dt>Upstream ID</dt>
            <dd>{{ activity.upstream_id }}</dd>
            <dt>Source path</dt>
            <dd><a href="{{ url_for('.download_original', id=activity.id) }}">{{ activity.path }}</a></dd>
            <dt>Time series path</dt>
            <dd>{{ activity.time_series_path }}</dd>
        </dl>

        <a href="{{ url_for('.edit', id=activity['id']) }}" class="btn btn-secondary btn-small">Edit</a>
        <a href="{{ url_for('.trim', id=activity['id']) }}" class="btn btn-secondary btn-small">Trim</a>
        <a class="btn btn-small btn-danger" href="{{ url_for('.delete', id=activity.id) }}"
            onclick="if(!confirm('Are you sure to Delete This?')){ event.preventDefault() }">Delete</a>
    </div>
    <div class="col-sm-12 col-md-8">
        <div id="activity-map" style="height: 500px;" class="mb-3"></div>
        <script>
            var map = L.map('activity-map', {
                fullscreenControl: true
            });
            L.tileLayer('/tile/pastel/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '{{ map_tile_attribution|safe }}'
            }).addTo(map);

            let geojson = L.geoJSON({{ color_line_geojson| safe }}, {
                style: function (feature) { return { color: feature.properties.color ? feature.properties.color : 'red' } }
            }).addTo(map)
            map.fitBounds(geojson.getBounds());



            fetch("{{ url_for('photo.map_for_activity', activity_id = activity.id) }}")
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    L.geoJSON(data, {
                        pointToLayer: function (feature, latlng) {
                            return L.marker(latlng, {
                                icon: new L.Icon({
                                    iconSize: [32, 32],
                                    iconAnchor: [16, 16],
                                    popupAnchor: [16, 0],
                                    iconUrl: feature.properties.url_marker,
                                })
                            });
                        },
                        onEachFeature: function (feature, layer) {
                            layer.bindPopup(`<a href="${feature.properties.url_full}" target="_blank"><img src="${feature.properties.url_popup}" /></a>`)
                        }
                    }).addTo(map);
                });
        </script>


        <style>
            span.colorbar {
                text-shadow: -1px -1px 0 black, -1px 0px 0 black, -1px 1px 0 black, 0px -1px 0 black, 0px 0px 0 black, 0px 1px 0 black, 1px -1px 0 black, 1px 0px 0 black, 1px 1px 0 black;
                padding-left: 5px;
                padding-right: 5px;
                line-height: 130%;
                color: white;
            }
        </style>

        {% if line_color_bar %}
        <div>
            {% for value, color in line_color_bar.colors %}
            <span class="colorbar" style="width: 15px; background-color: {{ color }}">{{ value }}</span>
            {% endfor %}
            {{ line_color_columns_avail[line_color_column].unit }}
        </div>

        <div class="mb-3" style="padding-top: 10px;">
            <form method="GET">
                <label class="form-label">Line Color by</label>
                <select class="form-select" aria-label="Line Color by" name="line_color_column"
                    onchange="this.form.submit()">
                    {% for name, column in line_color_columns_avail.items() %}
                    <option {% if name==line_color_column %} selected {% endif %} value="{{ name }}">{{
                        column.display_name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% if activity.photos %}
<h2 class="mb-3">Photos</h2>
<div class="row mb-3">
    {% for photo in activity.photos %}
    <div class="col-md-3">
        <img src="{{ url_for('photo.get', id=photo.id, size=512) }}" width="100%" />
    </div>
    {% endfor %}
</div>
{% endif %}


<div class=" row mb-3">
    <div class="col">
        <h2>Distance & speed</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        {{ vega_direct(distance_time_plot) }}
    </div>
    <div class="col-md-4">
        {{ vega_direct(speed_time_plot) }}
    </div>
    <div class="col-md-4">
        {{ vega_direct(speed_distribution_plot) }}
    </div>
</div>

{% if elevation_time_plot is defined %}
<div class="row mb-3">
    <div class="col">
        <h2>Elevation</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        {{ vega_direct(elevation_time_plot) }}
    </div>
    {% if elevation_gain_cum_plot is defined %}
    <div class="col-md-4">
        {{ vega_direct(elevation_gain_cum_plot) }}
    </div>
    {% endif %}
</div>
{% endif %}

{% if heartrate_time_plot is defined %}
<h2>Heart rate</h2>

<div class="row mb-3">
    <div class="col-md-4">
        {{ vega_direct(heartrate_time_plot) }}
    </div>
    <div class="col-md-4">
        {% if heart_zones_plot is defined %}
        {{ vega_direct(heart_zones_plot) }}
        {% else %}
        <p>Your activity has heart data, but this program doesn't know your maximum heart rate (or birth year) and
            therefore cannot compute the heart rate zones. Go to the <a
                href="{{ url_for('settings.heart_rate') }}">settings</a>.</p>
        {% endif %}
    </div>
</div>
{% endif %}

{% if cadence_time_plot is defined %}
<h2>Cadence</h2>

<div class="row mb-3">
    <div class="col-md-4">
        {{ vega_direct(cadence_time_plot) }}
    </div>
</div>
{% endif %}


<h2>Share picture</h2>

<p><img class="img-fluid" src="{{ url_for('.sharepic', id=activity.id) }}" /></p>

<p>Not happy with the displayed data? <a href="{{ url_for('settings.sharepic') }}">Change share picture
        settings</a>.</p>

{% if new_tiles_geojson %}
<h2>New explorer tiles</h2>
<p>With this activity you have explored new explorer tiles. The following maps show the new tiles on the respective
    zoom
    levels.</p>
<script>
    function add_map(id, geojson) {
        let map = L.map(`map-${id}`, {
            fullscreenControl: true
        })
        L.tileLayer('/tile/color/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '{{ map_tile_attribution|safe }}'
        }).addTo(map)

        let geojson_layer = L.geoJSON(geojson).addTo(map)
        map.fitBounds(geojson_layer.getBounds())
        return map
    }
</script>

<div class="row mb-3">
    {% for zoom, geojson in new_tiles_geojson.items() %}
    <div class="col-md-6">
        <h3>Zoom {{ zoom }}</h3>
        <p>There are {{ new_tiles[zoom] }} new tiles:</p>
        <div id="map-{{ zoom }}" style="height: 300px; width: 100%;"></div>
        <script>
            let map{{ zoom }} = add_map("{{ zoom }}", {{ geojson | safe }})
        </script>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if similar_activites|length > 0 %}
<div class="row mb-3">
    <div class="col">
        <h2>Activities with the same name</h2>

        <p><a href="{{ url_for('.name', name=activity['name']) }}">Overview over these activities</a></p>

        <div class="table-responsive">
            <table class="table table-sort table-arrows">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th class="numeric-sort">Distance / km</th>
                        <th>Elapsed time</th>
                        <th>Equipment</th>
                        <th>Kind</th>
                    </tr>
                </thead>
                <tbody>
                    {% for other_activity in similar_activites %}
                    <tr>
                        <td><a href="{{ url_for('.show', id=other_activity.id) }}">{{ other_activity.start|dt
                                }}</a></td>
                        <td>{{ other_activity.distance_km | round(1) }}</td>
                        <td>{{ other_activity.elapsed_time|td }}</td>
                        <td>{{ other_activity["equipment"] }}</td>
                        <td>{{ other_activity["kind"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}