{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>{{ activity["name"] }}</h1>
    </div>
</div>

<a href="{{ url_for('.show', id=activity['id']) }}" class="btn btn-primary btn-small">Back</a>


<div id="activity-map" style="height: 600px;" class="mb-3"></div>
<script>
    var map = L.map('activity-map', {
        fullscreenControl: true
    });
    L.tileLayer('/tile/pastel/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '{{ map_tile_attribution|safe }}'
    }).addTo(map);


    let layer = L.geoJSON({{ color_line_geojson| safe }}, {
        pointToLayer: function (feature, lat_lon) {
            let p = feature.properties

            let marker = null
            if (p.markerType == "circle") {
                marker = L.circleMarker(lat_lon, p.markerStyle)
            } else {
                marker = L.marker(lat_lon)
            }

            let text = ''
            if (p.name) {
                text += `<p><b>${p.name}</b></p>`
            }
            if (p.description) {
                text += p.description
            }
            if (text) {
                marker = marker.bindPopup(text)
            }

            return marker
        }
    })

    layer.addTo(map)
    map.fitBounds(layer.getBounds());
</script>

<form method="POST">
    <div class="mb-3">
        <label for="begin" class="form-label">Begin</label>
        <input type="number" class="form-control" id="begin" name="begin" value="{{ activity.index_begin }}" />
    </div>

    <div class="mb-3">
        <label for="end" class="form-label">End</label>
        <input type="number" class="form-control" id="end" name="end" value="{{ activity.index_end }}" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}