{% extends "page.html.j2" %}

{% block container %}

<h1>Explorer Tiles</h1>

{% if zoom_level_not_generated %}
<p>You try to access explorer tiles for a level that hasn't been generated before. That is not a problem, we just don't
    generate all levels to save a bit of time. If you want to have it, just enable it!</p>

<a href="{{ url_for('.enable_zoom_level', zoom=zoom_level_not_generated) }}" class="btn btn-primary">Enable Zoom {{
    zoom_level_not_generated }}</a>
{% else %}

<div class="row mb-3">
    <div class="col">
        <p>You have {{ num_tiles }} explored tiles. There are {{ num_cluster_tiles }} cluster tiles in
            total. Your largest cluster consists of {{ max_cluster_size }} tiles. Your largest square has size
            {{ square_size }}².
        </p>
        <p>Open the <a
                href="{{ url_for('square_planner.index', zoom=zoom, x=square_x, y=square_y, size=square_size) }}">Square
                Planner</a> to plan the next extension.</p>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div id="explorer-map" class="mb-1" style="height: 800px;"></div>
        <p>Download tiles in visible area: <a href="#" onclick="downloadAs('explored.geojson')">Explored as GeoJSON</a>,
            <a href="#" onclick="downloadAs('explored.gpx')"">Explored as GPX</a>, <a href=" #"
                onclick="downloadAs('missing.geojson')">Missing as GeoJSON</a> or <a href="#"
                onclick="downloadAs('missing.gpx')"">Missing as GPX</a>.</p>
        <script>
            const center_latitude = {{ center.latitude }};
            const center_longitude = {{ center.longitude }};
            const zoom = {{ zoom }};
            const bbox = {{ center.bbox | safe }};
            const map_tile_attribution = '{{ map_tile_attribution|safe }}';
        </script>
        <script src=" /static/server-side-explorer.js"></script>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <h2>Tile history</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        {% if plot_tile_evolution|length > 0 %}
        {{ vega_direct(plot_tile_evolution) }}
        {% endif %}
    </div>
    <div class="col-md-4">
        {% if plot_cluster_evolution|length > 0 %}
        {{ vega_direct(plot_cluster_evolution) }}
        {% endif %}
    </div>
    <div class="col-md-4">
        {% if plot_square_evolution|length > 0 %}
        {{ vega_direct(plot_square_evolution) }}
        {% endif %}
    </div>
</div>

<h2 class="mb-3">Tile URLs</h2>

<p>You can use the overlay tiles with other services like <a href="https://bikerouter.de/" target="_blank">Bike
        Router</a>. See <a href="https://martin-ueding.github.io/geo-activity-playground/using-maps-as-overlays/"
        target="_blank">the documentation for this feature</a>. For your server, use the following URLs:</p>

<code><pre>
{{ host_url }}tile/grayscale/{z}/{x}/{y}.png
{{ host_url }}tile/pastel/{z}/{x}/{y}.png
{{ host_url }}tile/color/{z}/{x}/{y}.png
{{ host_url }}tile/inverse_grayscale/{z}/{x}/{y}.png
</pre></code>

<p>For the explorer tiles, you can use these:</p>

<code><pre>
{{ host_url }}explorer/14/tile/{z}/{x}/{y}.png?color_strategy=colorful_cluster
{{ host_url }}explorer/14/tile/{z}/{x}/{y}.png?color_strategy=max_cluster
{{ host_url }}explorer/14/tile/{z}/{x}/{y}.png?color_strategy=first
{{ host_url }}explorer/14/tile/{z}/{x}/{y}.png?color_strategy=last
{{ host_url }}explorer/14/tile/{z}/{x}/{y}.png?color_strategy=visits
{{ host_url }}explorer/14/tile/{z}/{x}/{y}.png?color_strategy=missing

{{ host_url }}explorer/17/tile/{z}/{x}/{y}.png?color_strategy=colorful_cluster
{{ host_url }}explorer/17/tile/{z}/{x}/{y}.png?color_strategy=max_cluster
{{ host_url }}explorer/17/tile/{z}/{x}/{y}.png?color_strategy=first
{{ host_url }}explorer/17/tile/{z}/{x}/{y}.png?color_strategy=last
{{ host_url }}explorer/17/tile/{z}/{x}/{y}.png?color_strategy=visits
{{ host_url }}explorer/17/tile/{z}/{x}/{y}.png?color_strategy=missing
</pre></code>

<p>And for the heatmap, you can use this:</p>

<code><pre>
{{ host_url }}heatmap/tile/{z}/{x}/{y}.png
</pre></code>

{% endif %}
{% endblock %}