<dl>
    <dt>Tile</dt>
    <dd>({{ tile_x }}, {{ tile_y }}) @ {{ zoom }}</dd>

    {% if num_visits %}
    <dt>First visit</dt>
    <dd>
        {{ first_time }}
        <br />
        <a href="/activity/{{ first_activity_id }}">{{ first_activity_name }}</a>
    </dd>
    <dt>Last visit</dt>
    <dd>
        {{ last_time }}
        <br />
        <a href="/activity/{{ last_activity_id }}">{{ last_activity_name }}</a>
    </dd>
    <dt>Number of visits</dt>
    <dd>{{ num_visits }}</dd>
    {% endif %}

    {% if this_cluster_size %}
    <dt>This cluster size</dt>
    <dd>{{ this_cluster_size }}</dd>
    {% endif %}

    <dt>Actions</dt>
    <dd>
        {% if new_bookmark_url %}
        <a href="{{ new_bookmark_url }}">Create Cluster Bookmark</a>
        {% endif %}
        <a href="{{ url_for('square_planner.index', zoom=zoom, x=tile_x, y=tile_y, size=square_size) }}">Open Square
            Planner</a>
    </dd>


</dl>