{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-1">
    <div class="col">
        <h1>Eddington Number</h1>

        <p>Your Eddington number is {{ eddington_number }}. That means that on {{ eddington_number }} separate days you
            have recorded activities exceeding {{ eddington_number }} km.</p>
    </div>
</div>

<div class="row mb-1">
    <div class="col">
        {{ vega_direct("eddington-log", logarithmic_plot) }}
    </div>
</div>
{% endblock %}