{% extends "gap_app/page.html.j2" %}

{% block container %}
<h1>Upload Activity</h1>

<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}