{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>{{ activity["name"] }}</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-4">
        <dl>
            <dt>Name</dt>
            <dd>{{ activity["name"] }}</dd>
            <dt>Kind</dt>
            <dd>{{ activity.kind }}</dd>
            <dt>Commute</dt>
            <dd>{{ activity.commute }}</dd>
            <dt>Distance</dt>
            <dd>{{ activity.distance_km|round(1) }} km</dd>
            <dt>Elapsed time</dt>
            <dd>{{ activity.elapsed_time }}</dd>
            <dt>Start time</dt>
            <dd><a href="{{ url_for('activity.day', year=date.year, month=date.month, day=date.day) }}">{{ date }}</a>
                {{ time }}
            </dd>
            <dt>Calories</dt>
            <dd>{{ activity.calories }}</dd>
            <dt>Steps</dt>
            <dd>{{ activity.steps }}</dd>
            <dt>Equipment</dt>
            <dd>{{ activity.equipment }}</dd>
            <dt>New Explorer Tiles</dt>
            <dd>{{ new_tiles[14] }}</dd>
            <dt>New Squadratinhos</dt>
            <dd>{{ new_tiles[17] }}</dd>
            <dt>ID</dt>
            <dd>{{ activity.id }}</dd>
            <dt>Source path</dt>
            <dd>{{ activity.path }}</dd>
        </dl>
    </div>
    <div class="col-8">
        <div id="activity-map" style="height: 500px;" class="mb-3"></div>
        <script>
            var map = L.map('activity-map', {
                fullscreenControl: true
            });
            L.tileLayer('/tile/pastel/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            let geojson = L.geoJSON({{ color_line_geojson| safe }}, {
                style: function (feature) { return { color: feature.properties.color } }
            }).addTo(map)
            map.fitBounds(geojson.getBounds());
        </script>


        <style>
            span.colorbar {
                text-shadow: -1px -1px 0 black, -1px 0px 0 black, -1px 1px 0 black, 0px -1px 0 black, 0px 0px 0 black, 0px 1px 0 black, 1px -1px 0 black, 1px 0px 0 black, 1px 1px 0 black;
                padding-left: 5px;
                padding-right: 5px;
                line-height: 130%;
                color: white;
            }
        </style>

        <div>
            {% for speed, color in speed_color_bar.colors %}
            <span class="colorbar" style="width: 15px; background-color: {{ color }}">{{ speed }}</span>
            {% endfor %}
            km/h
        </div>
    </div>
</div>


<div class="row mb-3">
    <div class="col">
        <h2>Distance & speed</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        {{ vega_direct("distance_time_plot", distance_time_plot) }}
    </div>
    <div class="col-md-4">
        {{ vega_direct("speed_time_plot", speed_time_plot) }}
    </div>
    <div class="col-md-4">
        {{ vega_direct("speed_distribution_plot", speed_distribution_plot) }}
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <h2>Altitude</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        {{ vega_direct("altitude_time_plot", altitude_time_plot) }}
    </div>
</div>

{% if heartrate_time_plot is defined %}
<div class="row mb-3">
    <div class="col">
        <h2>Heart rate</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        {{ vega_direct("heartrate_time_plot", heartrate_time_plot) }}
    </div>
    {% if heart_zones_plot is defined %}
    <div class="col-md-4">
        {{ vega_direct("heart_zones_plot", heart_zones_plot) }}
    </div>
    {% endif %}
</div>
{% endif %}

<div class="row mb-3">
    <div class="col">
        <h2>Share picture</h2>

        <img src="{{ url_for('.sharepic', id=activity.id) }}" />
    </div>
</div>

{% if similar_activites|length > 0 %}
<div class="row mb-3">
    <div class="col">
        <h2>Activities with the same name</h2>

        <p><a href="{{ url_for('.name', name=activity['name']) }}">Overview over these activities</a></p>

        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Distance / km</th>
                    <th>Elapsed time</th>
                    <th>Equipment</th>
                    <th>Kind</th>
                </tr>
            </thead>
            <tbody>
                {% for other_activity in similar_activites %}
                <tr>
                    <td><a href="{{ url_for('.show', id=other_activity.id) }}">{{ other_activity.start
                            }}</a></td>
                    <td>{{ other_activity.distance_km | round(1) }}</td>
                    <td>{{ other_activity.elapsed_time }}</td>
                    <td>{{ other_activity["equipment"] }}</td>
                    <td>{{ other_activity["kind"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock %}