{% extends "settings/base.html.j2" %}

{% block breadcrumbs %}
<li class="breadcrumb-item active" aria-current="page">{{ _('Admin Password') }}</li>
{% endblock %}

{% block settings_content %}
<h1 class="mb-3">{{ _('Admin Password') }}</h1>

<p>{{ _('To protect the settings and the upload functionality, you may specify a password.') }}</p>

<form method="POST">
    <div class="mb-3">
        <label for="password" class="form-label">{{ _('Password') }}</label>
        <input type="text" class="form-control" id="password" name="password" value="{{ password }}" />
    </div>

    <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
</form>
{% endblock %}
