{% extends "page.html.j2" %}

{% from "plot-macros.html.j2" import parametric_plot %}

{% block container %}

<h1>Summary Statistics</h1>

<div class="mb-3">
    {% include "search_form.html.j2" %}
</div>

{% if modular_plots %}
<h2>Your modular plots</h2>
{% for html in modular_plots %}
{{ html | safe }}
{% endfor %}
{% endif %}

{% if custom_plots %}
<h2>Your custom plots</h2>
{% for spec, plot_groups in custom_plots %}
<h3>{{ spec.name }}</h3>
{{ parametric_plot(spec, plot_groups, loop.index) }}
{% endfor %}
{% else %}
<p>It seems that you don't have any custom plots yet. Check out the <a
        href="https://martin-ueding.github.io/geo-activity-playground/build-custom-plots/"
        target="_blank">documentation</a> and then head over to the <a href="{{ url_for('plot_builder.index') }}">plot
        builder</a> to create or import some plots.</p>
{% endif %}

<h2>Distances</h2>



<p>How much distance have you covered in each year up to that time of the year? The first plot gives you each year as
    one line. The second plot shows you how distance you have covered in each year and with which activity kinds.</p>

<div class="row mb-3">
    <div class="col-md-6">
        {{ vega_direct("plot_year_cumulative", plot_year_cumulative) }}
    </div>
</div>




<h2>Elevation Gain</h2>



<p>How much elevation have you gained in each year up to that time of the year? The first plot gives you each year as
    one line. The second plot shows you how much elevation you have gained in each year and with which activity kinds.
</p>

<div class="row mb-3">
    <div class="col-md-6">
        {{ vega_direct("plot_year_elevation_gain_cumulative", plot_year_elevation_gain_cumulative) }}
    </div>
</div>





{% endblock %}