{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>Equipment</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <table class="table table-sort table-arrows">
            <thead>
                <tr>
                    <th>Equipment</th>
                    <th>Primarily used for</th>
                    <th style="text-align: right;">Distance / km</th>
                    <th style="text-align: right;">First use</th>
                    <th style="text-align: right;">Last use</th>
                </tr>
            </thead>
            <tbody>
                {% for equipment in equipment_summary %}
                <tr>
                    <td>{{ equipment.equipment }}</td>
                    <td>{{ equipment.primarily_used_for }}</td>
                    <td style="text-align: right;">{{ equipment.total_distance_km|int }}</td>
                    <td style="text-align: right;">{{ equipment.first_use.date() }}</td>
                    <td style="text-align: right;">{{ equipment.last_use.date() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <h2>Details for each equipment</h2>
    </div>
</div>

{% for equipment, data in equipment_variables.items() %}
<h3>{{ equipment }}</h3>
<div class="row mb-3">
    <div class="col-md-4">
        {{ vega_direct(data.total_distances_plot_id, data.total_distances_plot) }}
    </div>
    <div class="col-md-4">
        {{ vega_direct(data.yearly_distance_plot_id, data.yearly_distance_plot) }}
    </div>
    <div class="col-md-4">
        {{ vega_direct(data.usages_plot_id, data.usages_plot) }}
    </div>
</div>
{% endfor %}
{% endblock %}