{% extends "page.html.j2" %}

{% block container %}

<h1 class="mb-3">Configuration</h1>

<div class="row mb-3">
    <div class="col-md-4">
        <form action="/config/save" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>
    </div>
</div>

<input type="submit" value="Save" />

{% endblock %}