{% extends "page.html" %}

{% block container %}
<div class="row mb-1">
    <div class="col">
        <h1>Map with explored tiles</h1>
    </div>
</div>

<div class="row mb-1">
    <div class="col">
        <div id="explorer-map" style="height: 800px;"></div>
        <script>
            let explorer_geojson = {{ explored_geojson| safe}}
            let map = L.map('explorer-map', {
                fullscreenControl: true
            });
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map)
            let explorer_layer = L.geoJSON(explorer_geojson, { style: function (feature) { return { color: feature.properties.color, fillColor: feature.properties.color, weight: 1 } } }).addTo(map)
            map.fitBounds(explorer_layer.getBounds())
        </script>
    </div>
</div>
{% endblock %}