{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>Explorer Tiles</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <h2>Map with explored tiles</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div id="explorer-map" style="height: 800px;"></div>
        <p>Download this as <a href="/download/explored.geojson">GeoJSON</a> or <a
                href="/download/explored.gpx">GPX</a>.</p>

        <script>
            function onEachFeature(feature, layer) {
                if (feature.properties && feature.properties.first_visit) {
                    layer.bindPopup(`First visited on ${feature.properties.first_visit} as part of <a href=/activity/${feature.properties.activity_id}>${feature.properties.activity_name}</a>.`)
                }
            }

            let explorer_geojson = {{ explored_geojson| safe}}
            let map = L.map('explorer-map', {
                fullscreenControl: true
            });
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map)
            let explorer_layer = L.geoJSON(explorer_geojson, {
                style: function (feature) { return { color: feature.properties.color, fillColor: feature.properties.color, weight: 1 } },
                onEachFeature: onEachFeature
            }).addTo(map)
            map.fitBounds(explorer_layer.getBounds())
        </script>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <h2>Map with unexplored tiles</h2>
        <p>The following is the “halo” of unexplored tiles around the tiles that you have already explored.</p>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div id="missing-map" style="height: 800px;"></div>
        <p>Download this as <a href="/download/missing_tiles.geojson">GeoJSON</a> or <a
                href="/download/missing_tiles.gpx">GPX</a>.</p>

        <script>
            let missing_geojson = {{ missing_tiles_geojson| safe}}
            let missing_map = L.map('missing-map', {
                fullscreenControl: true
            });
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(missing_map)
            let missing_layer = L.geoJSON(missing_geojson).addTo(missing_map)
            missing_map.fitBounds(missing_layer.getBounds())
        </script>
    </div>
</div>

{% endblock %}