{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>Heatmap</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div id="heatmap" style="height: 800px;"></div>

        <script>
            let map = L.map('heatmap', {
                fullscreenControl: true,
                center: [{{ center.latitude }}, {{ center.longitude }}],
            zoom: 12
            });
            L.tileLayer('/heatmap/tile/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map)

            let bbox = {{ center.bbox| safe }}
            if (bbox) {
                map.fitBounds(L.geoJSON(bbox).getBounds())
            }
        </script>
    </div>
</div>

{% endblock %}