{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
</div>

{% if latest_activities %}
<div class="row mb-3">
    <div class="col">
        <h2>Last 30 days</h2>
        {{ tabbed_vega(last_30_days_plot) }}
    </div>
</div>

<script>
    function add_map(id, geojson) {
        let map = L.map(`map-${id}`, {
            fullscreenControl: true
        })
        L.tileLayer('/tile/color/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '{{ map_tile_attribution|safe }}'
        }).addTo(map)

        let geojson_layer = L.geoJSON(geojson).addTo(map)
        map.fitBounds(geojson_layer.getBounds())
        return map
    }
</script>

<h2>Latest activities</h2>

{% for date, date_data in latest_activities.items() %}
<h3>{{ date }}</h3>
{% for activity_batch in date_data|batch(3) %}
<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    {% for elem in activity_batch %}
    <div class="col">
        <div class="card {{ '' if elem.activity.commute else 'border-primary' }}">
            <div class="card-img-top" id="map-{{ elem.activity.id }}" style="height: 200px; width: 100%;"></div>
            <script>
                let map{{ elem.activity.id }} = add_map("{{ elem.activity.id }}", {{ elem.line_geojson | safe }})
            </script>
            <div class="card-body">
                <a href="{{ url_for('activity.show', id=elem.activity.id) }}">
                    <h5 class="card-title">{{ elem.activity.name }}</h5>
                </a>
                <p class="card-text">
                    {{ elem.activity.emoji_string }}
                </p>
                {% if elem.activity.start_local_tz %}
                <p class="card-text"><small class="text-body-secondary">{{ elem.activity.start_local_tz|dt }} {{
                        elem.activity.iana_timezone }}</small></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endfor %}
{% else %}
<p>You don't have activities yet. Either put some files into a directory <tt>Activities</tt>, <a
        href="{{ url_for('upload.index') }}">upload activities</a> or <a href="{{ url_for('settings.strava') }}">set up
        Strava API</a>.</p>
{% endif %}

{% endblock %}