{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>Locations</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-8">
        <div id="activity-map" style="height: 500px;"></div>
        <script>
            var map = L.map('activity-map', {
                fullscreenControl: true
            });
            L.tileLayer('/tile/color/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            let geojson = L.geoJSON({{ activity_endpoints_geojson| safe }}).addTo(map)

            var markers = L.markerClusterGroup();
            markers.addLayer(geojson);
            map.addLayer(markers);

            map.fitBounds(geojson.getBounds());
        </script>
    </div>
</div>


{% endblock %}