<!DOCTYPE html>
<html lang="en">

{% from "plot-macros.html.j2" import vega, vega_direct, activity_tag, tabbed_vega %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Geo Activity Playground</title>

    <!-- Bootstrap CSS. -->
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Leaflet for interactive maps. -->
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <script src="/static/leaflet/leaflet.js"></script>

    <!-- Fullscreen button for Leaflet. -->
    <link href='/static/leaflet/leaflet.fullscreen.css' rel='stylesheet' />
    <script src='/static/leaflet/Leaflet.fullscreen.min.js'></script>

    <link rel="stylesheet" href="/static/leaflet/MarkerCluster.css" />
    <link rel="stylesheet" href="/static/leaflet/MarkerCluster.Default.css" />
    <script src="/static/leaflet/leaflet.markercluster.js"></script>

    <!-- Vega for plots.-->
    <script src="/static/vega/vega@5.js"></script>
    <script src="/static/vega/vega-lite@4.js"></script>
    <script src="/static/vega/vega-embed@6.js"></script>

    <script src="/static/bootstrap/bootstrap-dark-mode.js"></script>

    <script src="/static/table-sort.min.js"></script>

    <!-- Favicon. -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-secondary mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">Geo Activity Playground</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        {% if num_activities > 0 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Activities
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('calendar.index') }}">Calendar</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('search.index') }}">Overview & Search</a>
                                <li><a class="dropdown-item" href="{{ url_for('bubble_chart.index') }}">Bubble Chart</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Statistics
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('summary.index') }}">Summary
                                        Statistics</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('hall_of_fame.index') }}">Hall of Fame</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('eddington.distance') }}">Eddington
                                        Number</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('eddington.elevation_gain') }}">Elevation
                                        Eddington Number</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('equipment.index') }}">Equipment</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Explorer
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('explorer.server_side', zoom=14) }}">
                                        Explorer
                                        Tiles (Zoom 14)</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('explorer.server_side', zoom=17) }}">
                                        Squadratinhos
                                        (Zoom 17)</a></li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li><a class="dropdown-item"
                                        href="{{ url_for('square_planner.landing', zoom=14) }}">Square Planner
                                        (Zoom 14)</a></li>
                                <li><a class="dropdown-item"
                                        href="{{ url_for('square_planner.landing', zoom=17) }}">Square Planner
                                        (Zoom 17)</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('heatmap.index') }}">Heatmap</a>
                        </li>
                        {% endif %}

                        {% if photo_count > 0 %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('photo.map') }}">Photo Map</a>
                        </li>
                        {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('upload.index') }}">Upload Activities</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('photo.new') }}">Upload Photos</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('upload.reload') }}">Scan New
                                        Activities</a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li><a class="dropdown-item" href="{{ url_for('plot_builder.index') }}">Plot Builder</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('settings.index') }}">Settings</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('export.index') }}">Data Export</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('time_zone_fixer.index') }}">Time Zone
                                        Fixer</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <button
                                class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                                id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown"
                                data-bs-display="static" aria-label="Toggle theme (dark)">
                                <span id="bd-theme-text">Theme</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                                <li>
                                    <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="light" aria-pressed="false">
                                        ☀️ Light
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item d-flex align-items-center active"
                                        data-bs-theme-value="dark" aria-pressed="true">
                                        🌙 Dark
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="auto" aria-pressed="false">
                                        ⚙️ Auto
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block container %}
        {% endblock %}

        <div class="row border-top py-3 my-4">
            <ul class="nav col-4">
                <li class="nav-item"><a
                        href="https://github.com/martin-ueding/geo-activity-playground/blob/main/docs/changelog.md"
                        class="nav-link px-2 text-muted" target="_blank">Version {{ version }}</a></li>

                <li class="nav-item"><span class="nav-link px-2 text-muted">Python {{ python_version
                        }}</span></li>
            </ul>
            <ul class="nav col-8 justify-content-end">
                <li class="nav-item"><a href="https://github.com/martin-ueding/geo-activity-playground"
                        class="nav-link px-2 text-muted" target="_blank">GitHub</a></li>
                <li class="nav-item"><a href="https://martin-ueding.github.io/geo-activity-playground/"
                        class="nav-link px-2 text-muted" target="_blank">Documentation</a></li>
                <li class="nav-item"><a href="https://bonn.social/tags/GeoActivityPlayground"
                        class="nav-link px-2 text-muted" target="_blank">Mastodon</a></li>
                <li class="nav-item"><a href="https://pypi.org/project/geo-activity-playground/"
                        class="nav-link px-2 text-muted" target="_blank">PyPI</a></li>
                <li class="nav-item"><a href="https://martin-ueding.de/" class="nav-link px-2 text-muted">Martin
                        Ueding</a></li>
            </ul>
        </div>
    </div>

    <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>