<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Geo Activity Playground</title>

    <!-- Bootstrap CSS. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Leaflet for interactive maps. -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- Fullscreen button for Leaflet. -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
        rel='stylesheet' />

    <!-- Vega for plots.-->
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>


    <!-- Favicon. -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-secondary mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Geo Actvitity Playground</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/summary-statistics">Summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/calendar">Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/explorer/14">Explorer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/explorer/17">Squadratinhos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/heatmap">Heatmap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/eddington">Eddington</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/equipment">Equipment</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% macro vega(id, path) %}
        <div id="{{ id }}"></div>
        <script type="text/javascript">
            vegaEmbed('#{{ id }}', "{{ path }}").then(function (result) { }).catch(console.error);
        </script>
        {% endmacro %}

        {% macro vega_direct(id, spec) %}
        <div id="{{ id }}"></div>
        <script type="text/javascript">
            vegaEmbed('#{{ id }}', {{ spec| safe }}).then(function (result) { }).catch(console.error);
        </script>
        {% endmacro %}

        {% block container %}
        {% endblock %}

        <div class="row border-top py-3 my-4">
            <ul class="nav col-12 justify-content-end">
                <li class="nav-item"><a href="https://github.com/martin-ueding/geo-activity-playground"
                        class="nav-link px-2 text-muted">GitHub</a></li>
                <li class="nav-item"><a href="https://martin-ueding.github.io/geo-activity-playground/"
                        class="nav-link px-2 text-muted">Documentation</a></li>
                <li class="nav-item"><a href="https://bonn.social/tags/GeoActivityPlayground"
                        class="nav-link px-2 text-muted">Mastodon</a></li>
                <li class="nav-item"><a href="https://pypi.org/project/geo-activity-playground/"
                        class="nav-link px-2 text-muted">PyPI</a></li>
                <li class="nav-item"><a href="https://martin-ueding.de/" class="nav-link px-2 text-muted">Martin
                        Ueding</a></li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>