{% macro vega(id, path) %}
<div id="{{ id }}"></div>
<script type="text/javascript">
    vegaEmbed('#{{ id }}', "{{ path }}").then(function (result) { }).catch(console.error);
</script>
{% endmacro %}

{% macro vega_direct(id, spec) %}
<div id="{{ id }}"></div>
<script type="text/javascript">
    vegaEmbed('#{{ id }}', {{ spec| safe }}).then(function (result) { }).catch(console.error);
</script>
{% endmacro %}

{% macro activity_tag(tag) %}
<span class="badge" style="background-color: {{ tag.color or '#0d6efd' }}">{{ tag.tag }}</span>
{% endmacro %}


{% macro parametric_plot(spec, plot_groups, outer_loop_index) %}
{% if spec.group_by %}
<ul class="nav nav-pills mb-3" id="myTab" role="tablist">
    {% for key, plot in plot_groups.items() %}
    {% set plot_id = "custom_plot_" ~ outer_loop_index ~ "_" ~ loop.index %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if loop.last %} active {% endif %}" id="{{ plot_id }}" data-bs-toggle="tab"
            data-bs-target="#{{ plot_id }}-pane" type="button" role="tab" aria-controls="{{ plot_id }}-pane"
            aria-selected="{{ loop.last }}">{{ key }}</button>
    </li>
    {% endfor %}
</ul>
<div class="tab-content mb-3" id="myTabContent">
    {% for key, plot in plot_groups.items() %}
    {% set plot_id = "custom_plot_" ~ outer_loop_index ~ "_" ~ loop.index %}
    <div class="tab-pane fade {% if loop.last %} show active {% endif %}" id="{{ plot_id }}-pane" role="tabpanel"
        aria-labelledby="{{ plot_id }}" tabindex="0">
        {{ vega_direct(plot_id, plot) }}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row mb-3">
    <div class="col">
        {{ vega_direct("custom_plot_" ~ outer_loop_index, plot_groups[""]) }}
    </div>
</div>
{% endif %}
{% endmacro %}