{% macro _show_search_query(description, url_parameters, is_favorite, request_url) %}
<li>
    <a href="?{{ url_parameters }}">{{ description }}</a>
    {% if is_favorite %}
    <a href="{{ url_for('search.delete_search_query') }}?{{ url_parameters }}&redirect={{ request_url }}">🗑️</a>
    {% else %}
    <a href="{{ url_for('search.save_search_query') }}?{{ url_parameters }}&redirect={{ request_url }}">💾</a>
    {% endif %}
</li>
{% endmacro %}

<div class="accordion" id="search_form_accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button {{ '' if query.active else 'collapsed' }}" type="button"
                data-bs-toggle="collapse" data-bs-target="#search_form" aria-expanded="true"
                aria-controls="search_form">
                Activity Filter
            </button>
        </h2>
        <div id="search_form" class="accordion-collapse collapse {{ 'show' if query.active else '' }}"
            data-bs-parent="#search_form_accordion">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-8">
                        <form>
                            <div class="row g-3">
                                <div class="col-12">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        value="{{ query.name }}">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="name_case_sensitive"
                                            value="true" id="name_case_sensitive" {% if query.name_case_sensitive %}
                                            checked {% endif %}>
                                        <label class="form-check-label" for="name_case_sensitive">
                                            Case sensitive
                                        </label>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <label for="start_begin" class="form-label">After</label>
                                    <input type="date" class="form-control" id="start_begin" name="start_begin"
                                        value="{{ query.start_begin }}">
                                </div>
                                <div class="col-6">
                                    <label for="start_end" class="form-label">Until</label>
                                    <input type="date" class="form-control" id="start_end" name="start_end"
                                        value="{{ query.start_end }}">
                                </div>

                                <div class="col-6">
                                    <label for="distance_km_min" class="form-label">Distance minimum</label>
                                    <input type="number" class="form-control" id="distance_km_min"
                                        name="distance_km_min" value="{{ query.distance_km_min }}">
                                </div>
                                <div class="col-6">
                                    <label for="distance_km_max" class="form-label">Distance maximum</label>
                                    <input type="number" class="form-control" id="distance_km_max"
                                        name="distance_km_max" value="{{ query.distance_km_max }}">
                                </div>

                                <div class="col-12">
                                    <label for="" class="form-label">Kind</label>
                                    <div class="form-control">
                                        {% for kind in kinds_avail %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="kind"
                                                value="{{ kind.id }}" id="kind_{{ kind.id }}" {% if kind.id in
                                                query.kind %} checked {% endif %}>
                                            <label class="form-check-label" for="kind_{{ kind.id }}">
                                                {{ kind.name }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="" class="form-label">Equipment</label>
                                    <div class="form-control">
                                        {% for equipment in equipments_avail %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="equipment"
                                                value="{{ equipment.id }}" id="equipment_{{ equipment.id }}" {% if
                                                equipment.id in query.equipment %} checked {% endif %}>
                                            <label class="form-check-label" for="equipment_{{ equipment.id }}">
                                                {{ equipment.name }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="" class="form-label">Tags</label>
                                    <div class="form-control">
                                        {% for tag in tags_avail %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="tag"
                                                value="{{ tag.id }}" id="tag_{{ tag.id }}" {% if tag.id in query.tag %}
                                                checked {% endif %}>
                                            <label class="form-check-label" for="tag_{{ tag.id }}">
                                                {{ activity_tag(tag) }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary">Filter</button>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-danger" href="?">Reset</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-4">
                        <h5 class="mb-3">Favorite queries</h5>
                        <ul class="mb-3">
                            {% for description, url_parameters in search_query_favorites %}
                            {{ _show_search_query(description, url_parameters, True, request_url) }}
                            {% endfor %}
                        </ul>

                        <h5 class="mb-3">Last queries</h5>
                        <ol class="mb-3">
                            {% for description, url_parameters in search_query_last %}
                            {{ _show_search_query(description, url_parameters, False, request_url) }}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>