{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-3">
    <div class="col">
        <h1>Settings</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Strava API</h5>
                    <p class="card-text">Connect to the Strava API to download activities from there.</p>
                    <a href="{{ url_for('strava.setup') }}" class="btn btn-primary">Set up Strava API</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}