{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-1">
    <div class="col">
        <h1>Summary Statistics</h1>
    </div>
</div>

<div class="row mb-1">
    <div class="col">
        {{ vega("year-on-year-distance", "/meta-plot/year-on-year-distance.json") }}
    </div>
</div>

<div class="row mb-1">
    <div class="col">
        {{ vega("distance-heatmap", "/meta-plot/distance-heatmap.json") }}
    </div>
</div>
{% endblock %}