{% extends "page.html.j2" %}

{% block container %}
<div class="row mb-1">
    <div class="col">
        <h1>Summary Statistics</h1>
    </div>
</div>

<div class="row mb-1">
    <div class="col">
        {{ vega_direct("year_on_year_distance_meta_plot", year_on_year_distance_meta_plot) }}
    </div>
</div>

<div class="row mb-1">
    <div class="col">
        {{ vega_direct("distance_heatmap_meta_plot", distance_heatmap_meta_plot) }}
    </div>
</div>
{% endblock %}