{% extends "page.html.j2" %}

{% block container %}
<h1 class="mb-3">Heatmap</h1>

<div class="mb-3">
    {% include "search_form.html.j2" %}
</div>

<div class="row mb-3">
    <div class="col">
        <div id="heatmap" style="height: 800px;"></div>
        <p><a href="#" onclick="downloadAs()">Download heatmap in visible area</a></p>

        <script>
            let map = L.map('heatmap', {
                fullscreenControl: true,
                center: [{{ center.latitude }}, {{ center.longitude }}],
            zoom: 12
            });

            L.tileLayer("/tile/inverse_grayscale/{z}/{x}/{y}.png", {
                maxZoom: 19,
                attribution: '{{ map_tile_attribution|safe }}'
            }).addTo(map)

            L.tileLayer('/heatmap/tile/{z}/{x}/{y}.png?{{ extra_args|safe }}', {
                maxZoom: 19,
                attribution: '{{ map_tile_attribution|safe }}'
            }).addTo(map)

            let bbox = {{ center.bbox| safe }}
            if (bbox) {
                map.fitBounds(L.geoJSON(bbox).getBounds())
            }


            function downloadAs() {
                bounds = map.getBounds()
                window.location.href =
                    `/heatmap/download/${bounds.getNorth()}/${bounds.getEast()}/${bounds.getSouth()}/${bounds.getWest()}/heatmap.png?{{ extra_args|safe }}`
            }
        </script>
    </div>
</div>

{% endblock %}