{% extends "page.html.j2" %}

{% block container %}

<h1>{{ _('Bubble Charts') }}</h1>

<ul class="nav nav-tabs mb-3" id="bubble-layer-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button
            class="nav-link active"
            id="bubble-activities-tab"
            data-bs-toggle="tab"
            data-bs-target="#bubble-activities-pane"
            type="button"
            role="tab"
            aria-controls="bubble-activities-pane"
            aria-selected="true"
        >{{ _('Activities') }}</button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="bubble-daily-tab"
            data-bs-toggle="tab"
            data-bs-target="#bubble-daily-pane"
            type="button"
            role="tab"
            aria-controls="bubble-daily-pane"
            aria-selected="false"
        >{{ _('Daily') }}</button>
    </li>
</ul>

<div class="tab-content mb-3" id="bubble-layer-content">
    <div
        class="tab-pane fade show active"
        id="bubble-activities-pane"
        role="tabpanel"
        aria-labelledby="bubble-activities-tab"
        tabindex="0"
    >
        <p class="text-muted">{{ _('Each bubble represents one activity.') }}</p>
        <ul class="nav nav-tabs mb-3" id="bubble-activities-metric-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link active"
                    id="bubble-activities-distance-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#bubble-activities-distance-pane"
                    type="button"
                    role="tab"
                    aria-controls="bubble-activities-distance-pane"
                    aria-selected="true"
                >{{ _('Distance') }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    id="bubble-activities-elevation-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#bubble-activities-elevation-pane"
                    type="button"
                    role="tab"
                    aria-controls="bubble-activities-elevation-pane"
                    aria-selected="false"
                >{{ _('Elevation Gain') }}</button>
            </li>
        </ul>
        <div class="tab-content">
            <div
                class="tab-pane fade show active"
                id="bubble-activities-distance-pane"
                role="tabpanel"
                aria-labelledby="bubble-activities-distance-tab"
                tabindex="0"
            >
                <div id="bubble-chart-distance"></div>
            </div>
            <div
                class="tab-pane fade"
                id="bubble-activities-elevation-pane"
                role="tabpanel"
                aria-labelledby="bubble-activities-elevation-tab"
                tabindex="0"
            >
                <div id="bubble-chart-elevation-gain"></div>
            </div>
        </div>
    </div>

    <div
        class="tab-pane fade"
        id="bubble-daily-pane"
        role="tabpanel"
        aria-labelledby="bubble-daily-tab"
        tabindex="0"
    >
        <p class="text-muted">{{ _('Each bubble represents one day. Click a bubble to open the day overview.') }}</p>
        <ul class="nav nav-tabs mb-3" id="bubble-daily-metric-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link active"
                    id="bubble-daily-distance-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#bubble-daily-distance-pane"
                    type="button"
                    role="tab"
                    aria-controls="bubble-daily-distance-pane"
                    aria-selected="true"
                >{{ _('Distance') }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    id="bubble-daily-elevation-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#bubble-daily-elevation-pane"
                    type="button"
                    role="tab"
                    aria-controls="bubble-daily-elevation-pane"
                    aria-selected="false"
                >{{ _('Elevation Gain') }}</button>
            </li>
        </ul>
        <div class="tab-content">
            <div
                class="tab-pane fade show active"
                id="bubble-daily-distance-pane"
                role="tabpanel"
                aria-labelledby="bubble-daily-distance-tab"
                tabindex="0"
            >
                <div id="bubble-chart-day-distance"></div>
            </div>
            <div
                class="tab-pane fade"
                id="bubble-daily-elevation-pane"
                role="tabpanel"
                aria-labelledby="bubble-daily-elevation-tab"
                tabindex="0"
            >
                <div id="bubble-chart-day-elevation-gain"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function embedBubbleChart(targetSelector, chartSpec, urlField) {
        vegaEmbed(targetSelector, chartSpec).then((result) => {
            result.view.addEventListener('click', (event, item) => {
                if (item && item.datum && item.datum[urlField]) {
                    window.location.href = item.datum[urlField];
                }
            });
        }).catch(console.error);
    }

    embedBubbleChart('#bubble-chart-distance', {{ bubble_chart_distance | safe }}, 'activity_url');
    embedBubbleChart('#bubble-chart-elevation-gain', {{ bubble_chart_elevation_gain | safe }}, 'activity_url');
    embedBubbleChart('#bubble-chart-day-distance', {{ bubble_chart_day_distance | safe }}, 'day_url');
    embedBubbleChart('#bubble-chart-day-elevation-gain', {{ bubble_chart_day_elevation_gain | safe }}, 'day_url');
</script>
{% endblock %}
