{% extends "page.html.j2" %}

{% block container %}
<h1>{{ _('Upload Activity') }}</h1>

<form method="post" enctype="multipart/form-data" action="{{ url_for('.receive') }}">
    <div class="mb-3">
        <label for="file1" class="form-label">{{ _('Activity file') }}</label>
        <input type="file" name="file" id="file1" class="form-control" multiple>
    </div>
    <div class="mb-3">
        <label for="directory" class="form-label">{{ _('Target directory') }}</label>
        <select name="directory" id="directory" class="form-select" aria-label="{{ _('Target directory') }}">
            {% for directory in directories %}
            <option>{{ directory }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">{{ _('Upload') }}</button>
</form>
{% endblock %}